apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: ocp-metrics-selector
spec:
  template:
    metadata:
      labels:
        app: ocp-metrics-selector
      annotations:
        ad.datadoghq.com/ocp-metrics-selector.check_names: |
                    ["openmetrics"]
        ad.datadoghq.com/ocp-metrics-selector.init_configs: |
                    [{}]
        ad.datadoghq.com/ocp-metrics-selector.instances: |
          [
            {
              "openmetrics_endpoint": "http://openshift-metrics-selector.apps.test.sourcesense.local/metrics",
              "namespace": "openshift-monitoring",
              "tls_verify": "false",
              "tls_ignore_warning": "true"
              "metrics": [
                {"*": "*"},
                {"*": "*"}
              ]
            }
          ] 
        ad.datadoghq.com/ocp-metrics-selector.checks: |
          {
            "openmetrics": {
              "init_config": [{}],
              "instances": [
                {
                  "openmetrics_endpoint": "http://openshift-metrics-selector.apps.test.sourcesense.local/metrics",
                  "namespace": "openshift-monitoring",
                  "metrics": [{"*":"*"}],
                  "tls_verify": "false",
                  "tls_ignore_warning": "true"
                }
              ]
            }
          }  
    spec:
      containers:
        - name: ocp-metrics-selector
          # after the integration test we can use the business hub
          image: >-
            docker.io/luckysideburn/ocp_metrics_selector:v1.0.0
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
              protocol: TCP
          env:
            - name: TOKEN
              valueFrom:
                secretKeyRef:
                  name: secret-ocp-metrics-selector
                  key: token
          volumeMounts:
            - name: config-volume
              mountPath: /app/conf
            - mountPath: /etc/prometheus/secrets/kube-etcd-client-certs
              name: secret-kube-etcd-client-certs
              readOnly: true
            - mountPath: /etc/prometheus/secrets/metrics-client-certs
              name: secret-metrics-client-certs
              readOnly: true
            - mountPath: /etc/prometheus/configmaps/metrics-client-ca
              name: configmap-metrics-client-ca
              readOnly: true
      volumes:
        - name: config-volume
          configMap:
            name: ocp-metrics-selector-cm
        - name: secret-kube-etcd-client-certs
          secret:
            defaultMode: 420
            secretName: kube-etcd-client-certs
        - name: secret-metrics-client-certs
          secret:
            defaultMode: 420
            secretName: metrics-client-certs
        - configMap:
            defaultMode: 420
            name: metrics-client-ca
          name: configmap-metrics-client-ca
  replicas: 1
  triggers:
    - type: "ConfigChange"
  strategy:
    type: Rolling
